$btn-color: #f8f9fa;
$border-color: #9a9a9a;

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.search-options {
    text-align: right;
    display: flex;
    justify-content: end;
    
    a {
        display: inline-block;
        text-decoration: none;
        color: rgb(61, 61, 61);
        font-size: 12px;
        margin-top: 20px;
        margin-right: 15px;
    }
}

.break {
    flex-basis: 100%;
    height: 0;
}

.g-search {
    margin-top: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .search-input {
        width: 400px;
        height: 40px;
        border-radius: 100px;
        border: 1px solid $border-color;
        padding-inline: 20px;
    }

    .search-btn {
        width: 150px;
        height: 30px;
        background-color: $btn-color;
        border: 1px solid $border-color;
        margin-top: 30px;
    }
    
}

.g-advanced-search {
    margin-top: 350px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 50px;
    font-size: 12px;

    .search-input {
        width: 400px;
        height: 25px;
        border: 1px solid $border-color;
        padding-inline: 20px;
        position: relative;
        right: -10px;
    }

    .search-btn {
        width: 170px;
        height: 30px;
        background-color: $btn-color;
        border: 1px solid $border-color;
        margin: 30px;
    }


    .advanced-button {
        background-color: #4d90fe;
        color: white;

        position: relative;
        right: -282px;
    }
}

.hidden {
    visibility: hidden;
    position: absolute;
}